[Unit]
Description=My
ProjectAfter=network.target

[Service]
WorkingDirectory=/root
ExecStart=/usr/bin/limit-ip ssh
Restart=always

[Install]
WantedBy=multi-user.target